* {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

.alll {
    display: flex;
    align-items: flex-start;
}

.alll article {
    background-color: #fefded;
    width: 230px;
}

.alll article h1 {
    font-size: 40px;
    margin-top: 15px;
    margin-left: 45px;
    letter-spacing: 5px;
    color: #2c3333;
}

.alll article a {
    text-decoration: none;
}

article ul {
    margin-top: 140px;
    height: 100vh;
    list-style: none;
}

article ul a {
    display: inline-block;
    text-decoration: none;
    text-align: left;
    padding: 10px 25px 10px 5px;
    margin: 5px 10px;
}

article a:hover {
    width: 90%;
    background-color: #ded0b6;
    border-radius: 7px;
}

article a:active {
    color: #f3eeea;
}

.alll section {
    flex-grow: 1;
}

header {
    height: 80px;
    background-color: #f1eedc;
    display: flex;
}

header h1 {
    margin-top: 5px;
    margin-left: 15px;
    color: #31363f;
}

header .sreach {
    height: 45px;
    display: flex;
}

.sreach form {
    flex-grow: 1;
    text-align: right;
}

.sreach form input {
    height: 40px;
    width: 650px;
    border-radius: 999px;
    border: 1px solid #eadfb4;
    margin-right: 45px;
    margin-top: 8px;
    font-size: 16px;
}

.sreach form input:hover {
    background-color: #f9f9f1;
}

/* CSS các thuộc tính */
aside {
    height: 800px;
    width: 100%;
    display: flex;
    background-color: #a9b388;
}

aside .forall {
    margin: 30px auto 0;
    width: 450px;
    height: 500px;
    padding: 20px;
    background-color: #f3eeea;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

aside .forall h2 {
    text-align: center;
    margin-bottom: 28px;
}

aside .forall .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
}

aside .forall .row label {
    min-width: 150px;
}

aside .forall .row input,
aside .forall .row select {
    flex-grow: 1;
    height: 25px;
}

aside .forall .btn {
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    color: #f3eeea;
    background-color: #5f6f52;
}

.forall .call_back {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #5f6f52;
}
